nav,.page-footer{background-color:#6e97ee}
.page-footer{
	background:linear-gradient(transparent 0%, #6e97ee 100%);
}
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }